@import url(normalize.css);
* {
  box-sizing: border-box;
}

.container {
  max-width: 70%;
  padding: 0;
}

body {
  color: #000;
}

@media (min-width: 992px) {
  body {
    font-size: 16px;
  }
  body h1, body .h1 {
    font-size: 41px;
  }
  body h2, body .h2 {
    font-size: 34px;
  }
  body h3, body .h3 {
    font-size: 28px;
  }
  body h4, body .h4 {
    font-size: 20px;
  }
  body h5, body .h5 {
    font-size: 16px;
  }
  body h6, body .h6 {
    font-size: 14px;
  }
}
@media (min-width: 1440px) {
  body {
    font-size: 18px;
  }
  body h1, body .h1 {
    font-size: 46px;
  }
  body h2, body .h2 {
    font-size: 38px;
  }
  body h3, body .h3 {
    font-size: 31px;
  }
  body h4, body .h4 {
    font-size: 23px;
  }
  body h5, body .h5 {
    font-size: 18px;
  }
  body h6, body .h6 {
    font-size: 16px;
  }
}
h1,
h2 {
  font-weight: 700;
}

h3 {
  color: #333333;
}

p {
  color: #555555;
}

.fa {
  font-size: 42px;
}

/*******Header*******/
header {
  background-color: #fcdb00;
}

.navbar-collapse {
  border-top: none;
}

.navbar-default {
  background-color: #fcdb00;
  border-color: #fcdb00;
}
.navbar-default .navbar-brand {
  color: #000;
  font-size: 30px;
  font-weight: 700;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  border-color: #fcdb00;
  outline: thin dotted;
}
.navbar-default .navbar-nav {
  padding-top: 12px;
  margin-right: 10px;
}
.navbar-default .navbar-nav > li > a {
  color: #000;
  font-size: 18px;
  font-weight: 700;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #5e5e5e;
  outline: thin dotted;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  outline: thin dotted;
  background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000;
}

#main {
  padding: 20px;
  background-color: #fcdb00;
}
#main .main-content {
  margin-top: 30px;
  margin-bottom: 50px;
}
#main .animation.animated-item-1 {
  animation: fadeInUp 300ms linear 300ms both;
}
#main .animation.animated-item-2 {
  animation: fadeInUp 300ms linear 600ms both;
}
#main .animation.animated-item-3 {
  animation: fadeInUp 300ms linear 900ms both;
}
#main .animation.animated-item-4 {
  animation: fadeInUp 300ms linear 1200ms both;
}
#main .animation.animated-item-5 {
  animation: fadeInUp 300ms linear 1500ms both;
}
#main a > i.fa {
  color: #222222;
  margin-right: 20px;
}
#main a > i.fa:hover {
  color: #333;
}
#main a > i.fa:focus {
  color: #333;
  outline: thin dotted;
}
#main a:hover {
  color: #333;
}
#main a:focus {
  color: #333;
  outline: thin dotted;
}
#main img {
  float: right;
}

/******* Features *******/
#features {
  padding: 50px 0;
}
#features h1 + h3 {
  color: #555555;
  margin-bottom: 50px;
}
#features .features {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}
#features .feature-wrap {
  max-width: 300px;
  min-width: 300px;
  overflow: hidden;
  padding: 0 10px;
}
#features .feature-wrap p {
  font-size: 12px;
  color: #777777;
}
#features .feature-wrap h3 {
  color: #222222;
}
#features .feature-wrap i {
  font-size: 42px;
  height: 110px;
  width: 50px;
  float: left;
  text-align: center;
  margin-top: 20px;
  margin-right: 10px;
}

/*******Footer*******/
footer {
  background-color: #000;
}
footer h1 {
  color: #fcdb00;
}
footer h3 {
  color: #777777;
}
footer .form-inline {
  margin: 30px auto;
}
footer .btn-submit {
  background-color: #fcdb00;
  border-color: #fcdb00;
  color: #000;
  font-size: 18px;
  font-weight: 700;
}
footer .social a {
  color: #fcdb00;
  font-size: 18px;
  margin: 0 10px;
}
@media (min-width: 992px) {
  footer .social a {
    margin: 0 15px;
  }
}
footer .social a:focus {
  outline: thin dotted;
}
footer .row-info {
  margin: 20px auto;
}
footer .row-info p {
  color: #fff;
  font-size: 14px;
  margin: 0;
}
@media (min-width: 992px) {
  footer .row-info p {
    font-size: 18px;
  }
}
footer .row-info li {
  list-style: none;
}
footer .row-info a {
  font-size: 14px;
  color: #fff;
}
footer .row-info a:focus {
  outline: thin dotted;
}
@media (min-width: 992px) {
  footer .row-info a {
    font-size: 18px;
  }
}
footer .copyright {
  padding: 30px;
  background-color: #000;
}
