@import url(normalize.css);
/* line 6, ../sass/styles.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../sass/styles.scss */
.container {
  max-width: 70%;
  padding: 0;
}

/* line 19, ../sass/styles.scss */
body {
  color: black;
}

@media (min-width: 992px) {
  /* line 25, ../sass/styles.scss */
  body {
    font-size: 16px;
  }
  /* line 27, ../sass/styles.scss */
  body h1, body .h1 {
    font-size: 41px;
  }
  /* line 28, ../sass/styles.scss */
  body h2, body .h2 {
    font-size: 34px;
  }
  /* line 29, ../sass/styles.scss */
  body h3, body .h3 {
    font-size: 28px;
  }
  /* line 30, ../sass/styles.scss */
  body h4, body .h4 {
    font-size: 20px;
  }
  /* line 31, ../sass/styles.scss */
  body h5, body .h5 {
    font-size: 16px;
  }
  /* line 32, ../sass/styles.scss */
  body h6, body .h6 {
    font-size: 14px;
  }
}
@media (min-width: 1440px) {
  /* line 39, ../sass/styles.scss */
  body {
    font-size: 18px;
  }
  /* line 41, ../sass/styles.scss */
  body h1, body .h1 {
    font-size: 46px;
  }
  /* line 42, ../sass/styles.scss */
  body h2, body .h2 {
    font-size: 38px;
  }
  /* line 43, ../sass/styles.scss */
  body h3, body .h3 {
    font-size: 31px;
  }
  /* line 44, ../sass/styles.scss */
  body h4, body .h4 {
    font-size: 23px;
  }
  /* line 45, ../sass/styles.scss */
  body h5, body .h5 {
    font-size: 18px;
  }
  /* line 46, ../sass/styles.scss */
  body h6, body .h6 {
    font-size: 16px;
  }
}
/* line 52, ../sass/styles.scss */
h1,
h2 {
  font-weight: 700;
}

/* line 56, ../sass/styles.scss */
h3 {
  color: #333333;
}

/* line 60, ../sass/styles.scss */
p {
  color: #555555;
}

/* line 63, ../sass/styles.scss */
.fa {
  font-size: 42px;
}

/*******Header*******/
/* line 69, ../sass/styles.scss */
header {
  background-color: #fcdb00;
}

/* line 73, ../sass/styles.scss */
.navbar-collapse {
  border-top: none;
}

/* line 77, ../sass/styles.scss */
.navbar-default {
  margin: 30px auto;
  background-color: #fcdb00;
  border-color: #fcdb00;
}
/* line 82, ../sass/styles.scss */
.navbar-default .navbar-brand {
  color: black;
  font-size: 30px;
  font-weight: 700;
}
/* line 87, ../sass/styles.scss */
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  border-color: #fcdb00;
  outline: thin dotted;
}
/* line 93, ../sass/styles.scss */
.navbar-default .navbar-nav {
  padding-top: 12px;
  margin-right: 10px;
}
/* line 96, ../sass/styles.scss */
.navbar-default .navbar-nav > li > a {
  color: black;
  font-size: 18px;
  font-weight: 700;
}
/* line 102, ../sass/styles.scss */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #5e5e5e;
  outline: thin dotted;
}
/* line 109, ../sass/styles.scss */
.navbar-default .navbar-toggle {
  border-color: transparent;
}
/* line 113, ../sass/styles.scss */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  outline: thin dotted;
  background-color: transparent;
}
/* line 117, ../sass/styles.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}

/* line 125, ../sass/styles.scss */
#main {
  background-color: #fcdb00;
}
/* line 129, ../sass/styles.scss */
#main .main-content {
  margin-top: 50px;
  margin-bottom: 50px;
}
/* line 134, ../sass/styles.scss */
#main .animation.animated-item-1 {
  -webkit-animation: fadeInUp 300ms linear 300ms both;
  -moz-animation: fadeInUp 300ms linear 300ms both;
  -o-animation: fadeInUp 300ms linear 300ms both;
  -ms-animation: fadeInUp 300ms linear 300ms both;
  animation: fadeInUp 300ms linear 300ms both;
}
/* line 142, ../sass/styles.scss */
#main .animation.animated-item-2 {
  -webkit-animation: fadeInUp 300ms linear 600ms both;
  -moz-animation: fadeInUp 300ms linear 600ms both;
  -o-animation: fadeInUp 300ms linear 600ms both;
  -ms-animation: fadeInUp 300ms linear 600ms both;
  animation: fadeInUp 300ms linear 600ms both;
}
/* line 150, ../sass/styles.scss */
#main .animation.animated-item-3 {
  -webkit-animation: fadeInUp 300ms linear 900ms both;
  -moz-animation: fadeInUp 300ms linear 900ms both;
  -o-animation: fadeInUp 300ms linear 900ms both;
  -ms-animation: fadeInUp 300ms linear 900ms both;
  animation: fadeInUp 300ms linear 900ms both;
}
/* line 158, ../sass/styles.scss */
#main .animation.animated-item-4 {
  -webkit-animation: fadeInUp 300ms linear 1200ms both;
  -moz-animation: fadeInUp 300ms linear 1200ms both;
  -o-animation: fadeInUp 300ms linear 1200ms both;
  -ms-animation: fadeInUp 300ms linear 1200ms both;
  animation: fadeInUp 300ms linear 1200ms both;
}
/* line 166, ../sass/styles.scss */
#main .animation.animated-item-5 {
  -webkit-animation: fadeInUp 300ms linear 1500ms both;
  -moz-animation: fadeInUp 300ms linear 1500ms both;
  -o-animation: fadeInUp 300ms linear 1500ms both;
  -ms-animation: fadeInUp 300ms linear 1500ms both;
  animation: fadeInUp 300ms linear 1500ms both;
}
/* line 175, ../sass/styles.scss */
#main a > i.fa {
  color: #222222;
  margin-right: 20px;
}
/* line 178, ../sass/styles.scss */
#main a > i.fa:hover {
  color: #333333;
}
/* line 181, ../sass/styles.scss */
#main a > i.fa:focus {
  color: #333333;
  outline: thin dotted;
}
/* line 186, ../sass/styles.scss */
#main a:hover {
  color: #333333;
}
/* line 189, ../sass/styles.scss */
#main a:focus {
  color: #333333;
  outline: thin dotted;
}
/* line 195, ../sass/styles.scss */
#main img {
  margin: 50px 0px;
  float: right;
}

/*******Features*******/
/* line 205, ../sass/styles.scss */
#features {
  padding: 50px 0;
}
/* line 207, ../sass/styles.scss */
#features .row {
  margin: 0;
}
/* line 211, ../sass/styles.scss */
#features h1 + h3 {
  color: #555555;
  margin-bottom: 50px;
}
/* line 216, ../sass/styles.scss */
#features .feature-wrap {
  overflow: hidden;
}
/* line 220, ../sass/styles.scss */
#features .feature-wrap p {
  font-size: 12px;
  color: #777777;
}
/* line 224, ../sass/styles.scss */
#features .feature-wrap h3 {
  color: #222222;
}
/* line 227, ../sass/styles.scss */
#features .feature-wrap i {
  font-size: 42px;
  height: 110px;
  width: 50px;
  float: left;
  text-align: center;
  margin-top: 20px;
  margin-right: 10px;
}

/*******Footer*******/
/* line 244, ../sass/styles.scss */
footer {
  background-color: black;
}
/* line 247, ../sass/styles.scss */
footer h1 {
  color: #fcdb00;
}
/* line 251, ../sass/styles.scss */
footer h3 {
  color: #777777;
}
/* line 254, ../sass/styles.scss */
footer .form-inline {
  margin: 30px auto;
}
/* line 258, ../sass/styles.scss */
footer .btn-submit {
  background-color: #fcdb00;
  border-color: #fcdb00;
  color: black;
  font-size: 18px;
  font-weight: 700;
}
/* line 268, ../sass/styles.scss */
footer .social a {
  color: #fcdb00;
  font-size: 18px;
  margin: 0 10px;
}
@media (min-width: 992px) {
  /* line 268, ../sass/styles.scss */
  footer .social a {
    margin: 0 15px;
  }
}
/* line 275, ../sass/styles.scss */
footer .social a:focus {
  outline: thin dotted;
}
/* line 281, ../sass/styles.scss */
footer .row-info {
  margin: 20px auto;
}
/* line 284, ../sass/styles.scss */
footer .row-info p {
  color: white;
  font-size: 14px;
  margin: 0;
}
@media (min-width: 992px) {
  /* line 284, ../sass/styles.scss */
  footer .row-info p {
    font-size: 18px;
  }
}
/* line 292, ../sass/styles.scss */
footer .row-info li {
  list-style: none;
}
/* line 295, ../sass/styles.scss */
footer .row-info a {
  font-size: 14px;
  color: white;
}
/* line 298, ../sass/styles.scss */
footer .row-info a:focus {
  outline: thin dotted;
}
@media (min-width: 992px) {
  /* line 295, ../sass/styles.scss */
  footer .row-info a {
    font-size: 18px;
  }
}
/* line 309, ../sass/styles.scss */
footer .copyright {
  padding: 30px;
  background-color: black;
}
